# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Environment files
.env

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Ansible
*.retry
